/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Raleway:300);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400);

/* basic elements */
body {
	font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 300;
	background-image: url('../img/background.jpg');
	background-size: cover;
	background-attachment: fixed;
	}
a:link, a:visited {
	text-decoration: none;
	color: #0000AA;
	}
a:hover, a:focus {
	color: #0000EE;
	}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: 300;
	}
